
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
  font-family: 'NanumSquareRoundOTFL';
  src: url('/font/NanumSquareRoundOTFL.otf') format('truetype');
}

@page {
  size: A4;
  margin: 10mm;
}

.printContainer {
  display: flex;
  justify-content: center;
}

.printArea {
  position: relative;
  max-height: 1025px;
  height: 1025px;
  font-family: 'Pretendard';
  width: 718.9px;
}

.printArea h1 {
  padding-top: 20px;
  text-align: center;
  letter-spacing: 6px;
}

#printBtnArea {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#printBtnArea > button {
  cursor: pointer;
  all: unset;
  background-color: #4b4b4b;
  color: white;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;

}

.printAreaHr {
  margin: 0px 40px 20px 40px;
  border-top: 2px solid #b5b5b5;
}

/* Container 스타일 */
.printOcc-container {
  width: 100%;
  margin: 0 auto;
  padding: 10px 33px;
  box-sizing: border-box;
}

.printOcc-table {
  width: 100%;
  border-collapse: collapse; 
  background-color: #f9f9f9;
  border: 1px solid #959595;; 
}

.printOcc-header-row, .printOcc-header-row2 {
  background-color: #edd9bf;
  color: black;
}

.printOcc-header {
  padding: 9px;
  font-size: 15px;
  text-align: center; 
  font-weight: bold;
  border: 1px solid #959595;;
}

.printOcc-body-row {
  background-color: #fff;
  height: 100px;
}

.printOcc-body-row:nth-child(even) {
  background-color: #f2f2f2;
}

.printOcc-content {
  padding: 10px;
  line-height: 1.6;
  font-size: 14.5px;
  border: 1px solid #959595;
}

.printOcc-contentArea span{
  font-size: 15px;
}

.prinOcc-container-p {
  font-weight: bold;
  font-size: 15px;
  margin-top: 13px;
  display: inline-block;
}

.printOcc-header-row th:nth-child(1) {
  width: 30%;
}

.printOcc-header-row th:nth-child(2) {
  width: 15%;
}

.printOcc-header-row th:nth-child(3) {
  width: 15%;
}

.printOcc-header-row th:nth-child(4) {
  width: 15%;
}

.printOcc-header-row th:nth-child(5) {
  width: 15%;
}

.printOcc-header-row2 th:nth-child(1) {
  width: 15%;
}

.printOcc-header-row2 th:nth-child(2) {
  width: 48%;
}

.printOcc-header-row2 th:nth-child(3) {
  width: 14%;
}

.printOcc-header-row2 th:nth-child(4) {
  width: 11.5%;
}

.printOcc-header-row2 th:nth-child(5) {
  width: 11.5%;
}

.container-margin {
  margin-right: 5px;
}

.text-center {
  text-align: center;
}
.last-container {
  position: relative;
}
.logoArea {
  position: absolute;
  bottom: -80px;
  left: 270px;
  display: flex;
  margin: 20px 0 20px 0;
  justify-content: center;
}
