@use "../abstracts/index" as *;

.badge {
    &__list {
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        flex-wrap: wrap;
    }

    &__item {
        height: 38px;
        padding: 5px 18px 8px;
        line-height: 27px;
        font-size: 18px;
        font-weight: 600;
        color: $color-white;
        background-color: $primary-color-light;
        border-radius: 40px;
        @include text-ellipsis(1);
    }
}

.card {
    width: 300px;
    height: 367px;
    
    @include common-boxShadow-style();

    .badge {
        &__list {
            display: flex;
        }
    }

    .layout {
        &__body {
            padding: 14px 21px 44px;
        }
    }

    &__title {
        margin-top: 12px;
        color: $color-black;
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
    }

    &__contents {
        margin-top: 12px;
    }

    &__detail {
        display: flex;
        gap: 10px;
        color: $color-black;
        font-size: 14px;
        line-height: 19px;

        dt {
            width: 54px;
            font-weight: 600;
        }
    }
}