@use "../abstracts" as *;

.chatbot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-width: 540px;
    
    &__header {
        width: 100%;
    }

    &__banner {
        display: flex;
        justify-content: center;
        position: relative;
        height: 100%;
        max-height: 106px;
        padding: 0 28px;
        background: linear-gradient(180deg, #FFE17D 0.24%, #FFC33D 99.76%);
        border-radius: 0px 0px 30px 30px;

        img {
            height: 100%;
        }
    }

    &__container {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 23px;
        width: 100%;
        margin-bottom: auto;
        padding: 23px 13px 0 21px;
    }

    &__footer {
        width: 100%;
    }
}

.chat-message {
    display: flex;
    align-items: flex-start;

    .message {
        position: relative;
        min-width: 57%;
        max-width: 71%;

        &::before {
            bottom: 12px;
            width: 24px;
            height: 32px;
        }

        &--text {
            padding: 24px 22px 23px;
            color: #000;
            font-size: 14px;
            line-height: 1.4;
            border-radius: 10px;
            word-break: break-word;
        }
    }

    &.user {
        justify-content: flex-end;

        .message {
            margin-right: 22px;

            &::before {
                content: "";
                position: absolute;
                right: -21px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='33' fill='none'%3E%3Cpath fill='%23e6ebf2' d='M22.15.01C16.15 22.09 0 22.85 0 22.85s9.06 11.83 23.09 8.68L22.15 0v.01Z'/%3E%3C/svg%3E");
                transform: scaleX(-1);
            }

            &--text {
                text-align: left;
                background-color: #e6ebf2;
            }
        }
    }

    &.bot {
        justify-content: flex-start;
        align-items: flex-end;
        gap: 3%;

        .bot__profile {
            width: 14%;
            max-width: 68px;
        }

        .message {
            margin-left: 22px;
            margin-bottom: 8px;

            &::before {
                content: "";
                position: absolute;
                left: -21px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='33' fill='none'%3E%3Cpath fill='%23ffefd1' d='M22.15.01C16.15 22.09 0 22.85 0 22.85s9.06 11.83 23.09 8.68L22.15 0v.01Z'/%3E%3C/svg%3E");
            }

            &--text {
                text-align: center;
                background-color: #ffefd1;
            }
        }
    }
}

#chatForm {
    background-color: transparent;

    &--items {
        display: none;
        flex-wrap: wrap;
        gap: 17px;
        padding: 28px 17px 24px;
        background-color: $secondary-color;
        border-radius: 30px 30px 0px 0px;
        border-bottom: 1px solid #d6d6d6;

        &.is-active {
            display: flex;
        }

        .chatForm--item {
            &-btn {
                display: block;
                padding: 11px 18px;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                color: $color-black;
                font-family: "Noto Sans";
                background-color: $primary-color-light;
                border-radius: 50px;

                &.btn-primary {
                    background-color: $primary-color-light;
                }
            }
        }
    }

    &--input {
        display: grid;
        grid-template-columns: 1fr 102px;
        align-items: center;
        gap: 9px;
        padding: 17px 18px 19px 21px;
        background-color: #f7f6f2;
    }
}

#chat-input {
    flex-grow: 1;
    resize: none;
    height: 38px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 36px;
    border: 1px solid #d6d6d6;
    border-radius: 50px;
}

#send-chat {
    padding: 8px 28px;
    color: $secondary-color;
    font-size: 14px;
    font-weight: 700;
    background-color: $primary-color-light;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

@media (max-width: 1300px) {
    .chatbot {
        &__banner {
            height: 106px;
        }
    }

    .chat-message {
        &.bot {
            .bot__profile {
                width: 7%;
                min-width: 68px;
            }
        }
    }
}

@media (max-width: 786px) {
    .chatbot {
        &__banner {
            height: 50%;
            min-height: 92px;
        }
    }
}
