<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
	<meta name="naver-site-verification" content="6695f849889d785deafd88b136845de7821ca165" />

	<title>{{SYS_TITLE}}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="canonical" href="https://www.modulearning.kr/main/index.jsp">
	<meta name="author" content="www.modulearning.kr" />
	<meta name="title"  content="모두의러닝(moduLEARNING)" />
	<meta name="description"  content="모두의러닝, 법정의무교육, 산업안전보건교육, 직무교육, 마이크로러닝, 플립러닝, 비대면서비스바우처, 사업주환급" />
	<meta name="keywords" content="모두의러닝, moduLEARNING">

	<meta property="og:type"  content="website" data-dynamic="true" />
	<meta property="og:title" content="모두의러닝(moduLEARNING)" data-dynamic="true" />
	<meta property="og:description" content="모두의러닝, 법정의무교육, 산업안전보건교육, 직무교육, 마이크로러닝, 플립러닝, 비대면서비스바우처, 사업주환급" data-dynamic="true" />
	<meta property="og:url"   content="https://www.modulearning.kr" data-dynamic="true" />
	<meta property="og:image" content="https://www.modulearning.kr/html/images/thumbnail.png" />
	<meta property="og:image:secure_url" content="https://www.modulearning.kr/html/images/thumbnail.png"  />

	<link rel="stylesheet" type="text/css" href="/common/css/skin2.css" />
	<link rel="stylesheet" type="text/css" href="/html/css/custom.css" />

	<script language="javascript" type="text/javascript" src="/common/js/jquery-1.9.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="/common/js/slides.min.jquery.js"></script>
	<script language="javascript" type="text/javascript" src="/common/cheditor/cheditor.js" charset="utf-8"></script>
	<script language="javascript" type="text/javascript" src="/common/js/common.js"></script>
	<script language="javascript" type="text/javascript" src="/common/js/validate.js"></script>

	<script type="text/javascript" src="/html/js/style.js"></script>
	<script type="text/javascript" src="/html/js/links.js?q={{CURR_DATE}}"></script>
	<!--@if(login_block)--><script>checkSession({{SITE_INFO.session_time}})</script><!--/if(login_block)-->
	<meta name="naver-site-verification" content="6695f849889d785deafd88b136845de7821ca165" />
<script type="text/javascript" src="//wcs.naver.net/wcslog.js"> </script>
<script type="text/javascript">
if (!wcs_add) var wcs_add={};
wcs_add["wa"] = "s_3059dfbe256e";
if (!_nasa) var _nasa={};
if(window.wcs){
wcs.inflow("modulearning.kr");
wcs_do(_nasa);
}
</script>

</head>