<!--@include(layout/header.html)-->
<body>
	<div class="skip_nav">
		<a href="#gnb">메인메뉴로 이동</a>
		<a href="#container">본문으로 이동</a>
	</div>
	<div id="wrap">
		<!--@execute(../inc/top.jsp)-->
		<div id="container">
				<!-- <p class="sub_top" ><img src="/common/images_skin2/common/sub1.jpg" alt="" /></p> -->
				<!-- <div class="left_area lnb01">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title">소개</h3>
					<ul class="lnb_list">
						<li id="hrd1"><a href="/main/page.jsp?pid=info.hrd1" title="인사말" target="_self">기업지원교육제도</a></li>
						<li id="hrd2"><a href="/main/page.jsp?pid=info.hrd2" title="인사말" target="_self">기업지원교육절차</a></li>
						<li id="hrd3"><a href="/main/page.jsp?pid=info.hrd3" title="인사말" target="_self">환급신청방법 및 절차</a></li>
						<li id="hrd4"><a href="/main/page.jsp?pid=info.hrd4" title="인사말" target="_self">수강생 유의사항</a></li>
						<li id="hrd5"><a href="/main/page.jsp?pid=info.hrd5" title="인사말" target="_self">맞춤형 교육서비스</a></li>
						<li id="hrd6"><a href="/main/page.jsp?pid=info.hrd6" title="인사말" target="_self">훈련과정 개발절차</a></li>
					</ul> -->
					<!--@include(layout/left_banner.html)-->
				<!-- </div> -->
				<div class="content_area">
				<!--@include(BODY)-->
				</div>
		</div>
		<!--@include(layout/footer.html)-->
	</div>
</body>
</html>