<!--@include(layout/header.html)-->
<body>
	<div class="skip_nav">
		<a href="#gnb">메인메뉴로 이동</a>
		<a href="#container">본문으로 이동</a>
	</div>
	<div id="wrap">
		<!--@execute(../inc/top.jsp)-->
		<div id="container">
			<div class="sub_top sub_top3"></div>
			<div class="main_wrap">
				<div class="left_area lnb04">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title">국민내일배움카드</h3>
					<ul class="lnb_list">
						<li id="worker01"><a href="/main/page.jsp?pid=worker.worker01">내일배움카드 제도란?</a></li>
						<li id="worker02"><a href="/main/page.jsp?pid=worker.worker02">내일배움카드 발급조건</a></li>
						<li id="worker03"><a href="/main/page.jsp?pid=worker.worker03">내일배움카드 발급절차</a></li>
						<li id="worker04"><a href="/main/page.jsp?pid=worker.worker04">수강생 유의사항</a></li>
						<li id="worker05"><a href="/main/page.jsp?pid=worker.worker05">모사답안처리기준</a></li>
					</ul>
					<!--@include(layout/left_banner.html)-->
				</div>
				<div class="content_area">
				<!--@include(BODY)-->
				</div>
			</div>
		</div>
		<!--@include(layout/footer.html)-->
	</div>
</body>
</html>