<!--@include(layout/header.html)-->
<body>
	<div class="skip_nav">
		<a href="#gnb">메인메뉴로 이동</a>
		<a href="#container">본문으로 이동</a>
	</div>
	<div id="wrap">
		<!--@execute(../inc/top.jsp)-->
		<div id="container">
			<div class="sub_top sub_top2"></div>
			<div class="main_wrap">
				<div class="left_area lnb04">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title">사업주지원</h3>
					<ul class="lnb_list">
						<li id="greeting"><a href="/main/page.jsp?pid=owner.greeting">사업주지원 제도란?</a></li>						
						<li id="greeting2"><a href="/main/page.jsp?pid=owner.greeting2">사업주지원 훈련절차</a></li>
						<li id="greeting3"><a href="/main/page.jsp?pid=owner.greeting3">환급절차 및 기간</a></li>
						<li id="greeting4"><a href="/main/page.jsp?pid=owner.greeting4">사업주 수강유의사항</a></li>
						<li id="greeting5"><a href="/main/page.jsp?pid=owner.greeting5">모사답안처리기준</a></li>
						<li id="greeting6"><a href="/main/page.jsp?pid=owner.greeting6">훈련과정개발절차</a></li>
						<!--<li id="greeting7"><a href="/main/formmail.jsp?ch=owner">사업주위탁 훈련문의</a></li> -->
					</ul>
					<!--@include(layout/left_banner.html)-->
				</div>
				<div class="content_area">
				<!--@include(BODY)-->
				</div>
			</div>
		</div>
		<!--@include(layout/footer.html)-->
	</div>
</body>
</html>