@use "../abstracts/index" as *;

.mypage {

    .layout {
        &__body {
            display: grid;
            grid-template-columns: 201px 895px;
            gap: 150px;
            position: relative;
        }

        &__contents {
            margin-top: 64px;
        }
    }

    &__lnb {
        margin-top: 39px;
    }
}

.lnb {
    display: flex;
    flex-direction: column;
    gap: 17px;

    &__item {

        &:hover,
        &.is-active {
            a {
                color: $primary-color-light;
                font-weight: 600;

                &::before {
                    background-image: svgIcon('arrow', 'FDB515');
                }
            }
        }

        a {
            position: relative;
            display: block;
            padding-left: 24px;
            color: $color-black;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                background-image: svgIcon('arrow');
            }
        }
    }
}

.link {
    &__wrap {
        position: absolute;
        top: 15px;
        right: 0;
    }

    &__withdrawal {
        display: block;
        color: $color-gray-dark;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

.purchase-history {
    margin-top: 23px;

    &__filter {
        .btn {
            width: 102px;
            height: 38px;
            border-radius: 4px;
            background-color: $primary-color-light;
            padding: 8px 28px;
            color: $secondary-color;
            font-weight: 700;

            &__wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
            }

            &-reset {
                color: $primary-color-light;
                background-color: $color-white;
                border: 1px solid $primary-color-light;
            }

        }

        button + button {
            margin-left: 8px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__contents {
        display: grid;
        grid-template-columns: 1fr 102px;
        min-height: 157px;
        padding: 11px 23px;
        @include common-boxShadow-style($border-radius: 4px, $box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.05));
    }

    .order {
        &-date {
            margin-top: 6px;

            dl {
                display: flex;
                align-items: center;
                gap: 26px;
            }

            &__item {
                display: flex;
                align-items: center;
                gap: 9px;

                dt {
                    color: $color-black;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 17px;
                }
                
                dd {
                    color: $color-black;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19px;
                }
            }
        }

        &-detail {
            display: grid;
            grid-template-columns: 150px 253px 1fr;
            align-items: center;
            gap: 16px;
            margin-top: 12px;

            .thumbnail {
                overflow: hidden;
                border-radius: 10px;
            }

            .title {
                color: $color-black;
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
            }
        }

        &-state {
            padding: 12px 0;
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
        }
    }

    .btn {
        width: 102px;
        height: 38px;
        color: $secondary-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        border-radius: 4px;
        background-color: $primary-color-light;

        &__wrap {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &:nth-child(2) {
            color: $color-black;
            background-color: #E4CF9C;
        }

        &:nth-child(3) {
            color: $primary-color-light;
            background-color: $color-white;
            border: 1px solid $primary-color-light;
        }
    }

    &__layout-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        .link {
            &-help {
                display: block;
                padding: 8px 18px;
                color: $color-gray-dark;
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
            }
        }

        .refund {
            &-state {
                padding: 12px 0;
                color: $color-black;
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
            }
        }
    }
}

.refund {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    &__header {
        margin-bottom: 16px;
    }

    &__section {
        padding: 24px 22px;
        @include common-boxShadow-style($border-radius: 4px, $box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.05));

        &:first-child {
            grid-column: 1/-1;
        }
    }

    &__title {
        color: $color-black;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }

    &__description {
        margin-top: 18px;
        color: $color-black;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }

    table, th, td {
        border-collapse: collapse;
    }

    &__table {
        width: 733px;
        margin-top: 16px;
        border: 1px solid #b9b9b9;
        border-radius: 4px;

        &-content {
            width: 100%;
            text-align: left;
            box-sizing: border-box;
        }

        &-header {
            height: 32px;
            padding: 10px 12px 6px;
            color: $color-black;
            font-family: Inter;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            border-left: 1px solid #b9b9b9;
            background-color: rgba(0, 0, 0, 0.06);

            &:first-child {
                border-left: 0;
            }
        }

        &-data {
            height: 31px;
            padding: 10px 12px 6px;
            color: $color-black;
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            border-top: 1px solid #b9b9b9;
            border-left: 1px solid #b9b9b9;

            &:first-child {
                border-left: 0;
            }
        }
    }

    &__notice {
        &-list {
            margin-top: 29px;
            margin-bottom: 26px;
        }

        &-item {
            &-sub {
                padding-left: 10px;

                li {
                    position: relative;
                    padding-left: 15px;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background-color: $color-black;
                    }
                }
            }

        }
    }

    &__product {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 115px 1fr;
        gap: 16px;

        &-title {
            color: $color-black;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            @include text-ellipsis(1);

            .front {
                display: block;
                @include text-ellipsis(1);
            }
        }

        &-price {
            margin-top: 10px;
            color: $color-black;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
        }
    }

    &__reason {
        margin-top: 22px;

        &-button {
            position: relative;
            display: block;
            width: 256px;
            padding: 9px 32px 9px 12px;
            color: $color-gray-dark;
            text-align: left;
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            border: 1px solid $color-gray;
            @include common-boxShadow-style($border-radius: 4px, $box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12));
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: 12px;
                transform: translateY(-50%) rotate(90deg);
                width: 16px;
                height: 16px;
                background-image: svgIcon('arrow', '7a7a7a');
                background-repeat: no-repeat;
                background-size: 100%;
                transition: transform 0.2s ease;
            }

            &[aria-expanded="true"]::before {
                transform: translateY(-50%) rotate(-90deg);
            }
        }

        &-list {
            display: none;
            position: absolute;
            width: 256px;
            border: 1px solid $color-gray;
            border-radius: 4px;
            background: $color-white;
            z-index: 10;

            &.is-active {
                display: block;
            }

            li {
                font-size: 14px;
            }
        }

        &-item {
            padding: 6px 12px;
            color: $color-gray-dark;
            font-weight: 400;
            line-height: 19px;
            cursor: pointer;
            
            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }
        }

        &-textarea {
            display: none;
            overflow: hidden;
            width: 563px;
            height: 118px;
            margin-top: 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            border: 1px solid $color-gray;
            border-radius: 4px;
            background: $color-white;

            #refund-text {
                width: 100%;
                height: 100%;
                padding: 4px 8px;
                color: $color-black;
                resize: none;
            }

            textarea::placeholder {
                color: $color-gray;
            }
        }
    }

    &__summary {
        margin-top: 25px;

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 11px;

            &:last-child {
                margin-top: 31px;

                .refund__summary {
                    &-label {
                        margin-top: 10px;
                        font-weight: 700;
                    }

                    &-value {
                        font-size: 24px;
                        line-height: 29px;
                    }
                }
            }
        }

        &-label {
            color: $color-black;
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
        }

        &-value {
            color: $color-black;
            text-align: right;
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
        }
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 75px;

        .refund__action-button {
            display: block;
            width: 214px;
            height: 48px;
            padding: 8px 28px;
            color: $secondary-color;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            border-radius: 4px;
            background-color: $primary-color-light;
        }
    }
}