
@font-face {
	font-family: "NanumSquare";
	src: url(../font/NanumSquareR.ttf) format('truetype');
}
@font-face {
	font-family: "NanumSquare";
	src: url(../font/NanumSquareB.ttf) format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: "BlackG";
	src: url(../font/BlackHanSans-Regular.ttf) format('truetype');
}


body {
	font-family: "NanumSquare", "Noto Sans KR", sans-serif;
}
.tit {
	font-family: "BlackG", serif;
}