@media all and (max-width: 768px) {
	
	/**/

	.w_con {display:none;}
	.m_con {display:block;}

	.w_img {display:none;}
	.m_img {display:inline-block; *display:inline; zoom:1; width:100%;}

	.w_br {display:none;}
	.m_br {display:inline;}

	.w_bar {display:none;}
	.m_bar {display:inline;}

	.checkbox_label .check_icon {width:13px; height:28px; background-image:url("../img/sub/m_checkbox_icon_off.png");}
	.checkbox_label input[type=checkbox]:checked + .check_icon {background-image:url("../img/sub/checkbox_icon_on_black.png"); background-position-y: 5px;}

	#landing_con > .header > .contents_con {max-width:96%;}
	#landing_con > .header > .contents_con > table > tbody > tr > td {height:auto; text-align:center;}
	#landing_con > .header > .contents_con > table > tbody > tr > td.td01 {display:none;}
	#landing_con > .header > .contents_con > table > tbody > tr > td.td02 {width:100%; text-align:left; padding:33px 0;}
	#landing_con > .header > .contents_con > table > tbody > tr > td.td02 > .logo_con {position:relative;}
	#landing_con > .header > .contents_con > table > tbody > tr > td.td02 > .logo_con > a > img {max-width:136px;}
	#landing_con > .header > .contents_con > table > tbody > tr > td.td02 > .logo_con > .call_text_img_con {position:absolute; top:50%; right:0; transform:translateY(-50%); max-width:134px;}
	#landing_con > .header > .contents_con > table > tbody > tr > td.td03 {display:none;}
	#landing_con > .header > .contents_con > table > tbody > tr > td.td04 {display:table-cell; padding-bottom:16px;}

	#landing_con > .info01_con > .contents_con {background-image:url("../img/m_info01_con_bg_img.png");}
	#landing_con > .info01_con > .contents_con > .img_con {max-width:100%;}
	#landing_con > .info01_con > .banner_con > .contents_con {max-width:91.5%;}

	#landing_con > .info02_con > .contents_con {max-width:91.5%; padding:54px 0;}
	#landing_con > .info02_con > .contents_con > .title_con {margin-bottom:35px;}
	#landing_con > .info02_con > .contents_con > .title_con > img {max-width:100%;}
	#landing_con > .info02_con > .contents_con > .img_con > .img_div02 {margin-top:27px; box-shadow:box-shadow:0 3px 10px rgba(0,0,0,0.2); -webkit-box-shadow:0 3px 10px rgba(0,0,0,0.2); -moz-box-shadow:0 3px 10px rgba(0,0,0,0.2);}

	#landing_con > .info03_con > .contents_con {max-width:91.5%; padding:54px 0;}
	#landing_con > .info03_con > .contents_con > .title_con {margin-bottom:36px;}
	#landing_con > .info03_con > .contents_con > .title_con > img {max-width:100%;}
	#landing_con > .info03_con > .contents_con > .img_con > .img_div {margin-top:27px;}

	/* #landing_con > .info04_con > .contents_con {max-width:91.5%; padding:54px 0;} */

	#landing_con > .info05_con {background-image:url("../img/m_info05_con_bg_img.png");}
	#landing_con > .info05_con > .contents_con {max-width:91.5%; padding:54px 0;}
	#landing_con > .info05_con > .contents_con > .title_con {margin-bottom:26px;}
	#landing_con > .info05_con > .contents_con > .title_con > img {max-width:100%;}
	#landing_con > .info05_con > .contents_con > .img_con > .bar {margin:27px 0;}

	#landing_con > .info06_con {background-image:url("../img/m_info06_con_bg_img.png");}
	#landing_con > .info06_con > .contents_con {max-width:91.5%; padding:54px 0;}
	#landing_con > .info06_con > .contents_con > .title_con {margin-bottom:36px;}
	#landing_con > .info06_con > .contents_con > .title_con > img {max-width:100%;}
	#landing_con > .info06_con > .contents_con > .img_con > .bar {margin:27px 0;}

	#landing_con > .info07_con > .banner_con {background-image:url("../img/m_info07_con_banner_con_bg_img.png");}
	#landing_con > .info07_con > .banner_con > .contents_con {max-width:91.5%;}
	#landing_con > .info07_con > .contents_con > .contents_con {max-width:91.5%; padding:30px 0 80px;}
	#landing_con > .info07_con > .contents_con > .arrow {max-width:91.5%;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .list_con > ul > li {width:100%; margin-top:22px;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .list_con > ul > li:nth-child(2) {margin-top:22px;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .list_con > ul > li.fl {float:none; padding-right:0;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .list_con > ul > li.fr {float:none; padding-left:0;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .list_con > ul > li > .list_div > .title_con {float:left; width:20%; max-width:76px; margin-bottom:0;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .list_con > ul > li > .list_div > .title_con > span {font-size:17px; line-height:45px;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .list_con > ul > li > .list_div > .input_con {float:right; width:80%;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .list_con > ul > li > .list_div > .input_con .input {height:45px; padding:0 12px; font-size:15px;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .list_con > ul > li > .list_div > .input_con .select {height:45px; padding:0 10px 0 12px; background-image:url("../img/sub/m_select_arrow.png"); font-size:15px;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .check_con {margin-top:0px;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .check_con > .checkbox_label span {margin:0 6px; font-size:14px; line-height:22px;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .check_con > .checkbox_label a {width:49px; font-size:11px; line-height:19px;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .btn_con {margin-top:45px;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .btn_con > a {display:block; padding:0;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .btn_con > a > span {margin:0 6px; font-size:18px; line-height:63px;}
	#landing_con > .info07_con > .contents_con > .contents_con > form > .btn_con > a > img {max-width:29px;}
	#landing_con > .info07_con > .contents_con > .contents_con > .img_con {margin-top:26px;}
	#landing_con > .info07_con > .contents_con > .contents_con > .img_con > img {max-width:86%;}

    /* info07_con 반응형 추가 */
    .info07_con > .contents_con > .contents_con > form > .info_con table{ border-spacing: 0 6px; margin-bottom: 12px;}
    .info_con table tr td{padding: 8px 0 10px; border-bottom: none;}
    input.form-email1 { width: 34vw ;}
    select.form-email2{width: 33vw;}
    .email-checkbox{float: right;}


	#landing_con > .footer > .footer_slide_con > .contents_con {max-width:100%; padding:17px 0;}
	#landing_con > .footer > .footer_slide_con > .contents_con > .swiper-container .swiper-wrapper .swiper-slide {max-width:143px;}
	#landing_con > .footer > .contents_con > .contents_con {max-width:91.5%;}

	#landing_con > .quick {display:none;}

	#landing_con > .bottom_quick_con {position:fixed; bottom:0; z-index:999; width:100%;}

}