.b {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 52px;
}
.b1 {
    position: absolute;
    top: 122px;
    left: 0px;
    line-height: 52px;
}
.p {
    margin: 0;
}
.hr {
    position: absolute;
    top: 329px;
    left: 0px;
    line-height: 42px;
}
.homepage3 {
    text-decoration: underline;
}
.homepage2 {
    color: inherit;
}
.homepage1 {
    position: absolute;
    top: 122px;
    left: 217px;
    font-size: 28px;
    line-height: 38px;
    font-weight: 300;
    display: inline-block;
    width: 579px;
    height: 181px;
}
.web-page1 {
    position: absolute;
    top: 329px;
    left: 217px;
    font-size: 28px;
    line-height: 38px;
    font-weight: 300;
    display: inline-block;
    width: 684px;
    height: 181px;
}
.sec-04-child {
    position: absolute;
    top: 78px;
    left: 1px;
    max-height: 100%;
    width: 1204px;
}
.sec-04 {
    position: absolute;
    top: 3562px;
    left: 359px;
    width: 1205px;
    height: 510px;
}
.b4 {
    position: absolute;
    top: 111px;
    left: 0px;
    line-height: 52px;
}
.b5 {
    position: absolute;
    top: 52px;
    left: 0px;
    line-height: 52px;
}
.b6 {
    position: absolute;
    top: 163px;
    left: 0px;
    line-height: 52px;
}
.div {
    position: absolute;
    top: 10px;
    left: 217px;
    line-height: 38px;
    font-weight: 300;
}
.div1 {
    position: absolute;
    top: 121px;
    left: 217px;
    line-height: 38px;
    font-weight: 300;
}
.div2 {
    position: absolute;
    top: 62px;
    left: 217px;
    line-height: 38px;
    font-weight: 300;
}
.div3 {
    position: absolute;
    top: 173px;
    left: 217px;
    line-height: 38px;
    font-weight: 300;
}
.parent {
    position: absolute;
    top: 102px;
    left: 0px;
    width: 987px;
    height: 215px;
    font-size: 28px;
}
.ck-ti339c0307-3-icon {
    position: absolute;
    top: 369px;
    left: 1px;
    border-radius: 20px;
    width: 1200px;
    height: 597px;
    object-fit: cover;
}
.sec-03-child {
    position: absolute;
    top: 74px;
    left: 1px;
    max-height: 100%;
    width: 1204px;
}
.sec-03 {
    position: absolute;
    top: 2395px;
    left: 359px;
    width: 1205px;
    height: 966px;
    font-size: 40px;
}
.b7 {
    position: absolute;
    top: 1111px;
    left: 621px;
    line-height: 52px;
}
.ck-cb036074057-2-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    width: 579px;
    height: 322px;
    object-fit: cover;
}
.b8 {
    position: absolute;
    top: 354px;
    left: 4px;
    letter-spacing: -0.02em;
    line-height: 52px;
}
.div4 {
    position: absolute;
    top: 420px;
    left: 0px;
    font-size: 28px;
    line-height: 38px;
    font-weight: 300;
    text-align: left;
    display: inline-block;
    width: 579px;
    height: 104px;
}
.pro {
    position: absolute;
    top: 0px;
    left: 621px;
    width: 579px;
    height: 524px;
    text-align: right;
}
.div5 {
    position: absolute;
    top: 419px;
    left: 0px;
    line-height: 38px;
    font-weight: 300;
    display: inline-block;
    width: 579px;
    height: 181px;
}
.promise {
    position: absolute;
    top: 758px;
    left: 621px;
    width: 579px;
    height: 600px;
    font-size: 28px;
}
.b9 {
    position: absolute;
    top: 353px;
    left: 0px;
    line-height: 52px;
}
.hr2 {
    position: absolute;
    top: 419px;
    left: 0px;
    font-size: 28px;
    line-height: 38px;
    font-weight: 300;
    display: inline-block;
    width: 579px;
    height: 228px;
}
.company {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 579px;
    height: 647px;
}
.hr5 {
    position: absolute;
    top: 419px;
    left: 0px;
    font-size: 28px;
    line-height: 38px;
    font-weight: 300;
    display: inline-block;
    width: 579px;
    height: 181px;
}
.hr3 {
    position: absolute;
    top: 758px;
    left: 0px;
    width: 579px;
    height: 600px;
}
.sec-02 {
    position: absolute;
    top: 836px;
    left: 360px;
    width: 1200px;
    height: 1358px;
}
.sec-01-1-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 719px;
    object-fit: cover;
}
.hr-hr-container {
    position: absolute;
    top: 537px;
    left: 360px;
    line-height: 56px;
    font-weight: 900;
    display: inline-block;
    width: 1200px;
    height: 156px;
}
.logo-wht-2-icon {
    position: absolute;
    top: 479px;
    left: 360px;
    width: 415px;
    height: 38px;
    object-fit: cover;
}
.sec-01 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 719px;
    font-size: 42px;
    color: #fff;
}
.pc-companystory {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 4241px;
    overflow: hidden;
    text-align: left;
    font-size: 32px;
    color: #282828;
    font-family: Pretendard;
}

