@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
* {font-family: 'Noto Sans KR', sans-serif;}

body {width:100%; margin:0 auto; padding:0; font-size:13px; line-height:normal;}
img {border:none; padding:0; margin:0; outline:none;}
a {border:none; padding:0; margin:0; outline:none; text-decoration:none;}
a:active {color:#666666; text-decoration:none;}
a:link {color:#666666; text-decoration:none;}
a:visited {color:#666666; text-decoration:none;}
a:hover {color:#666666; text-decoration:none;}
ul {list-style:none; padding:0; margin:0; *zoom:1;}
ul:after {content:""; display:block; clear:both;}
ul > li {display:block;}

img.fx{max-width:100%;}

td {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

input, select, textarea {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin:0; 
	padding:0; 
	outline:none; 
	font-size:13px; 
	color:#000000;
}

input::-moz-placeholder {color:#fff;}
input::-webkit-input-placeholder {color:#fff;}

textarea::-moz-placeholder {color:#777;}
textarea::-webkit-input-placeholder {color:#777;}

input[type=text], input[type=password] ,input[type=tel], input[type=file], input[type=image], input[type=button], input[type=submit], textarea {
	border-radius:0; 
	-moz-border-radius:0; 
	-webkit-border-radius:0;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	width:100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
	border-radius:0; 
	-moz-border-radius:0; 
	-webkit-border-radius:0;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background-color:#ffffff;
	background-image:url("/html/page/landing/img/sub/select_arrow.png");
	background-repeat:no-repeat;
	background-position:91% 50%;
	width:100%;
}

select::-ms-expand {display:none;}

/*체크박스 버튼*/
.checkbox_label {display:inline-block; *display:inline; zoom:1; cursor:pointer;}
.checkbox_label .check_icon {display:inline-block; *display:inline; zoom:1; width:27px; height:27px; background:url("/html/page/landing/img/sub/checkbox_icon_off.png") no-repeat; vertical-align:middle; cursor:pointer;}
.checkbox_label input[type=checkbox] {display:none;}
.checkbox_label input[type=checkbox]:checked + .check_icon {background-image:url("/html/page/landing/img/sub/checkbox_icon_on.png");}
.checkbox_label span {vertical-align:middle;}

.w_img {display:inline-block; *display:inline; zoom:1; width:100%;}
.m_img {display:none;}
.w_con {display:inline-block;}
.m_con {display:none;}

#wrap {width:100%; min-width:320px; margin:0 auto;}

/*헤더*/
#header_tmp {width:100%; margin:0 auto; padding:27px 0 22px; border-bottom:1px solid #ddd;}
#header_tmp:after {content:""; display:block; clear:both;}
#header_tmp > .contents_con {width:100%; max-width:1400px; margin:0 auto;}
#header_tmp > .contents_con > .logo_con {float:right;}
#header_tmp > .contents_con > .logo_con > a:first-child > img {width:454px;}
#header_tmp > .contents_con > .sub_logo_con {float:left; width:55%; margin-top:7px;}
#header_tmp > .contents_con > .sub_logo_con > table {width:100%; margin:0 auto;}
#header_tmp > .contents_con > .sub_logo_con > table > tbody > tr > td:first-child {padding-right:10px;}

/*컨텐츠*/
#container {width:100%; margin:0 auto;}

#landing_con {width:100%; margin:0 auto;}
#landing_con > .visual_con {}
#landing_con > .visual_con > .nav_con {padding:32px 0; background-color:#3d3a32;}
#landing_con > .visual_con > .nav_con > .contents_con {width:100%; max-width:1400px; margin:0 auto;}
#landing_con > .visual_con > .nav_con > .contents_con > ul > li {float:left; width:25%; border-right:1px solid #9e9d99; text-align:center; box-sizing:border-box;}
#landing_con > .visual_con > .nav_con > .contents_con > ul > li:first-child {width:20%;}
#landing_con > .visual_con > .nav_con > .contents_con > ul > li:nth-child(3) {width:30%;}
#landing_con > .visual_con > .nav_con > .contents_con > ul > li:last-child {border-right:0;}
#landing_con > .visual_con > .nav_con > .contents_con > ul > li > img {vertical-align:middle;}
#landing_con > .visual_con > .nav_con > .contents_con > ul > li > .info_con {display:inline-block; margin-left:5%; text-align:left; vertical-align:middle;}
#landing_con > .visual_con > .nav_con > .contents_con > ul > li > .info_con > span {font-size:22px; color:#fff; line-height:27px;}
#landing_con > .visual_con > .nav_con > .contents_con > ul > li > .info_con > b {display:block; font-size:22px; color:#fff; line-height:28px;}
#landing_con > .info01_con {padding:160px 0;}
#landing_con > .info01_con > .contents_con {width:100%; max-width:1200px; margin:0 auto;}
#landing_con > .info01_con > .contents_con > .title_con {margin-bottom:80px;}
#landing_con > .info01_con > .slide_con {position:relative;}
#landing_con > .info01_con > .slide_con > .swiper-container {width:100%; margin:0 auto; padding-bottom:50px;}
#landing_con > .info01_con > .slide_con > .swiper-container .swiper-slide {width:1000px; margin:0 4%;}
#landing_con > .info01_con > .slide_con > .swiper-container .swiper-slide > img {max-width:100%; box-shadow:5px 5px 15px rgba(0,0,0,0.1);}
#landing_con > .info01_con > .slide_con .swiper-button-next {right:18%; width:85px; height:17px; margin-top:-8px; background-image:url(/html/page/landing/img/slide_next_btn_img.png); background-size:contain; outline:none;}
#landing_con > .info01_con > .slide_con .swiper-button-prev {left:18%; width:85px; height:17px; margin-top:-8px; background-image:url(/html/page/landing/img/slide_prev_btn_img.png); background-size:contain; outline:none;}
#landing_con > .info01_con > .slide_con > .swiper-container .swiper-pagination {bottom:0; left:0; right:0;}
#landing_con > .info01_con > .slide_con > .swiper-container .swiper-pagination .swiper-pagination-bullet {width:12px; height:12px; margin:0 4px; background:#ccc; opacity:1;}
#landing_con > .info01_con > .slide_con > .swiper-container .swiper-pagination .swiper-pagination-bullet-active {background:#222;}
#landing_con > .info02_con {background-image:url(/html/page/landing/img/info02_con_bg.png); background-size:cover; background-repeat:no-repeat;}
#landing_con > .info02_con > .contents_con {width:100%; max-width:1200px; margin:0 auto;}
#landing_con > .info02_con > .contents_con > .w_con {}
#landing_con > .info02_con > .contents_con > .w_con > .title_con {}
#landing_con > .info02_con > .contents_con > .w_con > .info_con {}
#landing_con > .info02_con > .contents_con > .w_con > .info_con:after {content:""; display:block; clear:both;}
#landing_con > .info02_con > .contents_con > .w_con > .info_con > .left_con {float:left; width:28%;}
#landing_con > .info02_con > .contents_con > .w_con > .info_con > .right_con {float:right; width:72%;} 
#landing_con > .info02_con > .contents_con > .w_con > .info_con > .right_con > ul > li {position:relative; margin-bottom:16px; cursor:pointer;}
#landing_con > .info02_con > .contents_con > .w_con > .info_con > .right_con > ul > li:last-child {margin-bottom:0;} 
#landing_con > .info02_con > .contents_con > .w_con > .info_con > .right_con > ul > li > .on {position:absolute; top:0; left:0; opacity:0; transition:all 0.3s;}
#landing_con > .info02_con > .contents_con > .w_con > .info_con > .right_con > ul > li:hover > .on {opacity:1; transition:all 0.3s;}
#landing_con > .info03_con {background-image:url(/html/page/landing/img/info03_con_bg.png); background-size:cover; background-repeat:no-repeat;}
#landing_con > .info03_con > .contents_con {width:100%; max-width:1400px; margin:0 auto;}
#landing_con > .info04_con {padding:130px 0 120px;}
#landing_con > .info04_con > .contents_con {width:100%; max-width:1200px; margin:0 auto;}
#landing_con > .info04_con > .contents_con > .title_con {margin-bottom:80px;}
#landing_con > .info04_con > .contents_con > .list_con {margin-bottom:90px;}
#landing_con > .info04_con > .contents_con > .list_con > ul > li {float:left; width:30%; margin-right:5%;}
#landing_con > .info04_con > .contents_con > .list_con > ul > li:last-child {margin-right:0;} 
#landing_con > .info04_con > .contents_con > .list_con > ul > li > .info_con {border:1px solid #999; box-shadow:5px 5px 15px rgba(0,0,0,0.1); box-sizing:border-box;}
#landing_con > .info04_con > .contents_con > .list_con > ul > li > .info_con > .img_con {border-bottom:1px solid #999;}
#landing_con > .info04_con > .contents_con > .list_con > ul > li > .info_con > .text_con {padding:20px 0 24px; text-align:center;}
#landing_con > .info04_con > .contents_con > .list_con > ul > li > .info_con > .text_con > b {display:block; margin-bottom:10px; font-size:24px; color:#222;}
#landing_con > .info04_con > .contents_con > .list_con > ul > li > .info_con > .text_con > span {font-size:18px; color:#222; line-height:27px; font-weight:500;}
#landing_con > .info04_con > .contents_con > .list_con > ul > li > .btn_con {text-align:center;}
#landing_con > .info04_con > .contents_con > .list_con > ul > li > .btn_con > a {display:block; margin-top:15px; height:50px; line-height:50px; background-color:#534f45; font-size:16px; color:#fff; font-weight:500;}
#landing_con > .info04_con > .contents_con > .btn_con {margin-top:45px; text-align:center;}
#landing_con > .info04_con > .contents_con > .btn_con > a {display:inline-block; width:340px; height:55px; line-height:55px; background-color:#534f45; font-size:20px; color:#fff; font-weight:500;}
#landing_con > .info04_con > .contents_con > .btn_con > p {margin:45px 0 0 0; font-size:18px; color:#666; font-weight:500;}
#landing_con .info05_con {padding:95px 0 80px; background-image:url(/html/page/landing/img/info05_con_bg.png); background-size:cover; background-repeat:no-repeat;}
#landing_con .info05_con > .contents_con {width:100%; max-width:1200px; margin:0 auto;}
#landing_con .info05_con > .contents_con > .title_con {position:relative; margin-bottom:70px;}
#landing_con .info05_con > .contents_con > .title_con > span {font-size:18px; color:#ccc; line-height:25px;}
#landing_con .info05_con > .contents_con > .title_con > b {display:block; margin-top:15px; font-size:37px; color:#f6b618; letter-spacing: -2px;}
#landing_con .info05_con > .contents_con > .title_con > img {position:absolute; bottom:0; right:0;}
#landing_con .info05_con > .contents_con > .info_con {}
#landing_con .info05_con > .contents_con > .info_con > ul > li {float:left; width:48%; margin-right:4%; margin-bottom:30px;}
#landing_con .info05_con > .contents_con > .info_con > ul > li:nth-child(2n) {margin-right:0;}
#landing_con .info05_con > .contents_con > .info_con > ul > li > table {width:100%; margin:0 auto;}
#landing_con .info05_con > .contents_con > .info_con > ul > li > table > tbody > tr > td {}
#landing_con .info05_con > .contents_con > .info_con > ul > li > table > tbody > tr > .title_td {}
#landing_con .info05_con > .contents_con > .info_con > ul > li > table > tbody > tr > .title_td01 {width:86px}
#landing_con .info05_con > .contents_con > .info_con > ul > li > table > tbody > tr > .title_td02 {width:108px;}
#landing_con .info05_con > .contents_con > .info_con > ul > li > table > tbody > tr > .title_td > span {font-size:24px; color:#fff;}
#landing_con .info05_con > .contents_con > .info_con > ul > li > table > tbody > tr > .info_td {}
#landing_con .info05_con > .contents_con > .info_con > ul > li > table > tbody > tr > .info_td .input {width:100%; height:50px; padding-left:15px; font-size:17px; color:#fff; border:1px solid #ccc; background-color:transparent !important; border-radius:0; box-sizing:border-box; vertical-align:middle;}
#landing_con .info05_con > .contents_con > .info_con > ul > li > table > tbody > tr > .info_td .tel_input {width:32%; margin-left:1.3%;}
#landing_con .info05_con > .contents_con > .info_con > ul > li > table > tbody > tr > .info_td .select {width:32%; height:50px; padding-left:15px; font-size:17px; color:#fff; border:1px solid #ccc; background-color:transparent !important; box-sizing:border-box; vertical-align:middle;}
#landing_con .info05_con > .contents_con > .agree_con {margin:15px 0 35px; text-align:center;}
#landing_con .info05_con > .contents_con > .agree_con > .checkbox_label > span {margin:0 25px 0 20px; font-size:18px; color:#fff; vertical-align:middle;}
#landing_con .info05_con > .contents_con > .agree_con > .checkbox_label > a {display:inline-block; width:55px; height:22px; line-height:22px; font-size:13px; color:#1e1e1e; background-color:#fff; vertical-align:middle;}
#landing_con .info05_con > .contents_con > .btn_con {text-align:center;}
/*#landing_con .info05_con > .contents_con > .btn_con > a {display:inline-block; width:340px; height:55px; line-height:55px; background-color:#3576da; border:1px solid #b7bcc5; font-size:20px; color:#fff; font-weight:500;}*/
#landing_con .info05_con > .contents_con > .btn_con > button {cursor:pointer; display:inline-block; width:340px; height:55px; line-height:55px; background-color:#f6b618; border:1px solid #b7bcc5; font-size:20px; color:#fff; font-weight:500;}
#landing_con > .info06_con {}
#landing_con > .info06_con > .contents_con {width:100%; max-width:1600px; margin:0 auto;}
#landing_con > .info06_con > .contents_con > .banner_con {}
#landing_con > .info06_con > .contents_con > .banner_con > .swiper-container {}
#landing_con > .info06_con > .contents_con > .banner_con > .swiper-container .swiper-slide {width:14%; padding:13px 0;}
#landing_con > .info06_con > .contents_con > .banner_con > .swiper-container .swiper-slide img {max-width:100%;}

/*푸터*/
#footer_tmp {width:100%; margin:0 auto; background-color:#f5f5f5; padding:45px 0; border-top:1px solid #ccc;}
#footer_tmp > .contents_con {width:100%; max-width:1200px; margin:0 auto;}
#footer_tmp > .contents_con:after {content:""; display:block; clear:both;}
#footer_tmp > .contents_con > .logo_con {float:left; width:17%; margin-top:5px;}
#footer_tmp > .contents_con > .logo_con > img {width:103px;}
#footer_tmp > .contents_con > .info_con {float:left; width:83%;}
#footer_tmp > .contents_con > .info_con > span {font-size:15px; color:#535046; line-height:25px; vertical-align:middle;}
#footer_tmp > .contents_con > .info_con > .bar {margin:0 5px; font-size:13px; color:#222; vertical-align:middle;}
#footer_tmp > .contents_con > .info_con > p {margin:15px 0 0 0; font-size:13px; color:#999;}

/*퀵*/
#right_quick_con {position:fixed; top:50%; right:0; width:166px; z-index:999; /*border:1px solid #ccc;*/ text-align:right;}
#right_quick_con > .btn_con {height:44px; line-height:44px; background-color:#fff; text-align:center;}
#right_quick_con > .btn_con > a {display:block;}
#right_quick_con > .btn_con > a > img {vertical-align:middle;}
#right_quick_con > .btn_con > a > span {/*font-size:17px; font-weight:500; color:#002060; vertical-align:middle;*/ text-indent: -9999px;}
#right_quick_con > .btn01_con > a > span {font-size: 17px; font-weight: 500; color: #545046; display: block; width: 166px; background: #fff; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; word-break: keep-all; padding: 15px 10px; box-sizing: border-box; text-align: center; line-height: 1.2;}

/*탑버튼*/
#top_btn {position:fixed; bottom:48px; right:48px; z-index:999;} 